/ Example of nested vertical slides
%section
  %section
    %h2 Enumerable
    %p
      A lot of ruby objects include enumerable.  The Most common are Array and Hash.
    %ul
      %li.fragment map/collect
      %li.fragment detect/find
      %li.fragment inject/reduce
      %li.fragment each_with_object
