/ Example of nested vertical slides
%section
  %section
    %h2 Enumerable
    %p.fragment
      The most used methods:
    %ul
      %li.fragment map/collect
      %li.fragment flat_map
      %li.fragment group_by
      %li.fragment detect/find
      %li.fragment inject/reduce
      %li.fragment each_with_object
