%section
  %h2 Hash Initialization
  .fragment
    %pre
      %code{"data-trim" => ""}
        :preserve
          grade_book = Hash.new{ |hash, grade| hash[grade] = []}
          grade_book["A"] << "John"
          grade_book["B"] << "Mike"
          grade_book["A"] << "Tom"
          p grade_book # => {"A" => ["John", "Tom"], "B" =>  ["Mike"]}
