%section
  %h2 This is only a taste of what ruby has built in
  %h5 So how do you you learn more?
  %ol
    %li.fragment Read the documentation
    %li.fragment Read the documentation
    %li.fragment Try Exercism.io
    %li.fragment Ask for code reviews
    %li.fragment Read blog posts
    %li.fragment Read the documentation
