%section{"data-background" => "#4d7e65", "data-background-transition" => "slide", "data-transition" => "linear"}
  %h2 Background Transitions
  %p
    Pass reveal.js the
    %code backgroundTransition: 'slide'
    config argument to make backgrounds slide rather than fade.
