%section{"data-background" => "#8c4738", "data-background-transition" => "slide", "data-transition" => "linear"}
  %h2 Background Transition Override
  %p
    You can override background transitions per slide by using
    = succeed "." do
      %code data-background-transition="slide"
